<form name="form" ng-submit="save(data)">
      <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input required name="name" ng-model="data.name" />

          <div ng-messages="form.name.$error">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Description</label>
          <input required name="description" ng-model="data.description" />

          <div ng-messages="form.description.$error">
            <div ng-message="required">Description is required.</div>
          </div>
        </md-input-container>
 <!-- 
        <div flex="5" hide-xs hide-sm>
        </div> --> 

        <md-input-container class="md-block" flex-gt-sm>
          <label>Is Active</label>
          <md-select name="is_active" ng-model="data.is_active" required>
                <md-option value="1">Active</md-option>
                <md-option value="0">Inactive</md-option>
              </md-select>
          <div ng-messages="form.is_active.$error">
            <div ng-message="required">Status is Required</div>
          </div>
        </md-input-container>

      </div>
       <div class="warning" ng-show="errMsg">
            <ul ng-repeat="i in errMsgContent">{{i | uppercase}}</ul>
          </div>   
<div layout="row">
          <div flex-gt-sm="80">
          
        </div>
              <md-button class="md-raised" type="submit">Submit</md-button>
              <md-button class="md-raised md-warn" ng-click="cancel()">Cancel</md-button>
          </div>
    </form>